.update-card {
  display: flex;
  flex-direction: column;
}

.update-status {
  display: flex;
}

.update-card > p {
  margin: .3em 0;
}

.update-status > p {
  margin-top: .3em;
}

.status-icon {
  margin-left: .3em;
  background: #666666;
  color: #f3f6f9;
  padding: 0 .2em;
}

.view-more-button {
  background: #0074c1;
  color: #ffffff;
  border: 0;
  padding: 1em;
}

.view-more-button:hover {
  background: #3068ad;
  cursor: pointer;
}
