@import '../../colors.scss';

.update-card {
  display: flex;
  flex-direction: column;
}

.update-status {
  display: flex;
}

.update-card > p {
  margin: .3em 0;
}

.update-status > p {
  margin-top: .3em;
}

.status-icon {
  margin-left: .3em;
  background: $status-grey;
  color: $background-grey;
  padding: 0 .2em;
}

.view-more-button {
  background: $light-blue;
  color: $navbar-white;
  border: 0;
  padding: 1em;
}

.view-more-button:hover {
  background: #3068ad;
  cursor: pointer;
}
