.recent-updates {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-recent {
  color: #142b47;
  margin: 0;
}

.recent-spacer {
  background: #8c6910;
  height: .2em;
  width: 13%;
  margin: .4em 0 2em 0;
}
