@import '../../colors.scss';

nav {
  background: $navbar-white;
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid $dark-blue ;
}
.nav-header {
  display: flex;
  width: 40%;
  align-items: center;
}

.nav-header > img {
  margin: .7em;
  width: 4.5em;
  height: 4.5em;
}

.nav-header > img:hover {
  opacity: .7;
  cursor: pointer;
}

.nav-header > img:active {
  opacity: 1;
  cursor: pointer;
}

.nav-menu {
  height: 100%;
  padding: 1.3em;
  background: $light-blue;
  color: $navbar-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: .8em;
}

.nav-menu:hover {
  background: $hover-blue;
  cursor: pointer;
}

.menu-icon {
  height: 45%;
  width: 100%;
}

.nav-title {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.nav-title > p {
  font-weight: bold;
  color: $dark-blue;
  font-size: 1.02em;
  margin: 0 .3em;
}

.nav-title > p:nth-child(3) {
  font-size: .7em;
  font-style: italic;
  font-weight: lighter;
}

.nav-search {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.nav-links > a {
  margin: 0 .7em;
  color: $dark-blue;
  text-decoration: none;
  font-size: .9em;
}

.search-section {
  background: $navbar-white;
  color: $light-blue;
  padding: .6em;
  border: 2px solid $light-blue;
  border-radius: 10%;
}

.search-section:hover {
  background: $light-blue;
  color: $navbar-white;
  cursor: pointer;
}

.search-icon {
  color: inherit;
  width: 1.3em;
}

.active {
  background: $light-blue;
  color: $navbar-white;
}

@media (max-width: 870px) {
  .nav-header {
    width: 70%;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-title {
    font-size: 1em;
  }

}
