@import '../../colors.scss';

footer {
  background-color: $dark-blue;
  font-size: .6em;
  color: $footer-white;
  text-align: left;
  display: flex;
  justify-content: space-around;
  padding: 2em 4em;
}

img {
  height: auto;
  width: 40%;
}

.footer-section {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
}

ul {
  list-style-type: none;
}

li {
  margin: 1em 0;
}

.office-address > p {
  margin: 0;
}

@media (max-width: 320px) {

  .footer-section > h2 {
    display: none;
  }

  .footer-section > img {
    display: none;
  }

  .footer-section > ul {
    padding-left: 0;
    padding-right: 1em;
  }
}
