$background-grey: #f3f6f9;
$border-grey: #cccccc;
$status-grey: #666666;
$navbar-white: #ffffff;
$footer-white: #e1e5ea;
$dark-blue: #1b3a61;
$light-blue: #0074c1;
$hover-blue: #3068ad;
$blue-white: #93a4bd;
$border-yellow: #8c6910;
$status-yellow: #d2b859;
$status-red: #BA1E16;
