.App {
  font-family: 'Roboto Slab';
  text-align: center;
  background: #f3f6f9;
}

.updates-events {
  width: auto;
  padding: 3em 7em;
  display: flex;
  justify-content: space-between;
}

@media (max-width:1080px) {
  .updates-events {
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
  }
}

@media (max-width:580px) {
 .App {
   font-size: .8em;
 }
}
