@import '../../colors.scss';

.back-to-top {
  margin: 1em 6em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.back-to-top:hover {
  cursor: pointer;
}

.back-to-top-icon {
  margin: 0 1em;
  padding: .6em;
  background: $blue-white;
  color: $light-blue;
  border-radius: 50%;
}
