@import '../../colors.scss';


.menu-dropdown {
  width: 100%;
  background: $navbar-white;
  position: absolute;
  top: 5.8em;
  display: flex;
  border-bottom: 10px solid #1b3a61 ;
}

.dropdown-links {
  width: 20%;
  background: $background-grey;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
}

.dropdown-links > a {
  margin: 0;
  font-size: .8em;
  font-weight: bold;
  border-bottom: 1px solid $border-grey;
  padding: 1em 0em;
  text-decoration: none;
  color: inherit;
}

.dropdown-links > a:last-child {
  margin: 0;
  border-bottom: 0px solid ;
  padding: 1em;
}

.catagory-links {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
}

.dropdown-catagory-section {
  display: flex;
  flex-direction: column;
  margin: 1em 1.5em;
}

.dropdown-catagory-section > a {
  font-size: .8em;
  margin: .3em 0;
  text-decoration: none;
  color: inherit;
}

.catagory-title {
  font-weight: bold;
  color: $dark-blue;
  font-weight: bold;
}

.catagory-spacer {
  background: $border-yellow;
  height: .2em;
  width: 13%;
  margin: .4em 0 1em 0;
}
